[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/powerlevel10k"]
	path = zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
